.card.event {
  display: flex;
  flex-direction: column;

  width: 20%;

  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 1%;
  padding-left: 1%;
  border-radius: 10px;
}

.learn-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.learn-top-right {
  display: flex;
  flex-direction: column;
}

.learn-img {
  margin-right: 5%;
  margin-top: 3%;
  width: 15%;
  height: auto;
}

.card.event h1 {
  font-family: "SF Pro Display Bold";
  color: #050505;
  font-size: 1vw;

  margin-top: -4%;
}

.card.event h3 {
  font-family: "SF Compact Display Regular";
  text-transform: uppercase;

  color: #586069;

  font-size: 0.7vw;
}

.card.event p {
  font-family: "SF Pro Display Medium";
  color: #586069;

  margin-top: -2%;
  font-size: 0.8vw;
}

.external-link {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;

  align-content: center;

  font-family: "SF Compact Display Medium";

  text-transform: uppercase;

  font-size: 0.75vw;
  color: #1778f2;
}

.external-link img {
  width: 15%;
}

.external-link:hover {
  text-decoration: underline;
}
