@media only screen and (max-width: 600px) {
  .card.event {
    display: flex;
    flex-direction: column;

    width: 324px;
    height: 180px;

    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;
    padding-left: 1%;
    border-radius: 10px;

    flex: 0 0 auto;
  }

  .learn-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 3%;
  }

  .learn-top-right {
    display: flex;
    flex-direction: column;

    margin-right: 5%;
  }

  .learn-img {
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    width: 10%;
    border-radius: 50%;
  }

  .card.event h1 {
    font-family: "SF Pro Display Semibold";
    color: #050505;
    font-size: 18px;

    margin-top: -4%;
  }

  .card.event h3 {
    font-family: "SF Compact Display Regular";
    text-transform: uppercase;

    color: #586069;

    font-size: 14px;
  }

  .card.event p {
    font-family: "SF Pro Display Medium";
    color: #586069;

    line-height: 150%;

    margin-top: -1%;
    font-size: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .card.event {
    display: flex;
    flex-direction: column;

    width: 472px;
    height: 206px;

    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
    padding: 1%;
    padding-left: 1%;
    border-radius: 10px;

    flex: 0 0 auto;
  }

  .learn-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .learn-top-right {
    display: flex;
    flex-direction: column;
  }

  .learn-img {
    margin-right: 5%;
    margin-left: 3%;
    margin-top: 3%;
    width: 15%;
    height: auto;
  }

  .card.event h1 {
    font-family: "SF Pro Display Semibold";
    color: #050505;
    font-size: 24px;

    margin-top: -4%;
  }

  .card.event h3 {
    font-family: "SF Compact Display Regular";
    text-transform: uppercase;

    color: #586069;

    font-size: 16px;
  }

  .card.event p {
    font-family: "SF Pro Display Medium";
    color: #586069;

    line-height: 150%;

    margin-top: -1%;
    font-size: 14px;
  }
}
