@font-face {
   font-family: 'SF Compact Display';
   font-style: normal;
   font-weight: normal;
   src: local('SF Compact Display'), url('../Fonts/sf-compact-display-regular.woff') format('woff');
}

@font-face {
   font-family: 'SF Compact Display Thin';
   font-style: normal;
   font-weight: normal;
   src: local('SF Compact Display Thin'), url('../Fonts/sf-compact-display-thin-58646eb43a785.woff') format('woff');
}


@font-face {
   font-family: 'SF Compact Display Medium';
   font-style: normal;
   font-weight: normal;
   src: local('SF Compact Display Medium'), url('../Fonts/sf-compact-display-medium-5864711817c30.woff') format('woff');
}

.button.primary:hover{
   /* Primary / Normal */
   cursor:pointer;

   /* Auto Layout */

   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 12px 24px;


   /* Ruby */

   background: #CA4238;
   /* Light / Blur-02 */

   /* box-shadow: 0px 4px 28px rgba(149, 157, 165, 0.5); */
   border-radius: 100px;
   border: 2px solid #CA4238;

   /* Inside Auto Layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 50px 0px;

   color: #FAFAFA;
   font-size: 20px;
   font-family: "SF Compact Display Medium";
   line-height: 23px;
}

.button.primary {
   /* Primary / Normal */
   cursor:pointer;

   /* Auto Layout */

   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 12px 24px;

   /* Light / Blur-02 */

   /* box-shadow: 0px 4px 28px rgba(149, 157, 165, 0.5); */
   border-radius: 100px;
   border: 2px solid #CA4238;

   /* Inside Auto Layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 50px 0px;

   color: #CA4238;
   font-size: 20px;
   font-family: "SF Compact Display Medium";
   line-height: 23px;
}

.button.secondary:hover {
   /* Secondary button */
   cursor:pointer;

   position: static;
   height: 24px;
   left: 0px;
   top: 0px;

   font-family: "SF Compact Display Medium";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */

   text-transform: uppercase;
   text-decoration: underline;

   /* Ruby */

   color: #CA4238;
   background: none;
   border:none;

   /* Inside Auto Layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 8px;
}

.button.secondary {
   /* Secondary button */
   cursor:pointer;

   position: static;
   height: 24px;
   left: 0px;
   top: 0px;

   font-family: "SF Compact Display Medium";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   /* identical to box height */

   text-transform: uppercase;

   /* Ruby */

   color: #CA4238;
   background: none;
   border:none;

   /* Inside Auto Layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 8px;
}

.card.course {  
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 48px;

   position: static;
   width: 500px;
   height: 300px;

   background: #FAFAFA;
   border-radius: 12px;
}

.card.hack-challenge {
   float: left;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 40px;

   position: static;
   width: 1152px;
   height: 400px;

   background: #FAFAFA;

   border: 2px solid #E1E4E8;
   box-sizing: border-box;
   border-radius: 12px;
}

.card.intro {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
}

p.card {
   font-family: SF Pro Display;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;

   color: #2F363D;
}

h1.card {
   font-family: SF Pro Display;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 43px;

   color: #050505;
}

h3.card {
   font-family: SF Compact Display;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;

   text-transform: uppercase;

   color: #586069;

   flex: none;
   order: 1;
   align-self: center;
   flex-grow: 0;
   margin: 0px 0px;
}

.horizontal-content {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: left;
   gap: 10px;
}

.vertical-content {
   text-align: left;
}

.icon {
   margin: 0px 12px 0px 0px;
}

a {
   font-family: "SF Compact Display Medium";

   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-decoration: none;
   
   text-transform: uppercase;
   
   color: #CA4238;
}

a:hover {
   text-decoration: underline;
}