.apply-container {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

.container-1 {
  background-image: url(./Images/applybackground.svg);

  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container-1:after {
  padding-top: 52.78%;
  display: block;
  content: "";
}

.container-2 {
  background-image: url(./Images/applygraybackground.svg);

  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.container-2:after {
  padding-top: 33.68%;
  display: block;
  content: "";
}

.container-3 {
  margin: 5%;
}

.apply-home {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.apply-center {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.apply-center > img {
  width: 5%;
}

.apply-largetext {
  font-family: "SF Compact Display Medium";
  font-size: 5vw;
}

.apply-smalltext {
  font-family: "SF Compact Display Medium";
  font-size: 1.5vw;

  text-align: center;
  width: 55%;
}

.apply-medtext {
  font-family: "SF Compact Display Medium";
  font-size: 3vw;
}

.apply-textblock {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2%;
}

.recruit-textblock {
  display: flex;
  flex-direction: column;
}

.application-status {
  font-family: "SF Compact Display Medium";
  text-transform: uppercase;
  text-align: center;
  padding: 0.2%;
  border-radius: 5px;
  color: #ca4238;
  background-color: #faeceb;
  width: 10%;
  font-size: 0.7vw;
}

.apply-recruitment-mid {
  display: inline-flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
}

.apply-medtext {
  text-align: center;
}

.apply-cards {
  display: flex;
  flex-direction: row;

  gap: 2%;
  margin-top: 2%;

  justify-content: center;
}

/* Container 4 */

.container-4 {
  background-color: #eff1f4;
}
